aiohttp
async-lru
cairosvg
emoji
fonttools
jieba
matplotlib
mistletoe
motor
numpy
opencv-python>=4.5.4.58
orjson
paddlepaddle
Pillow==10.4.0
psutil
py_mini_racer
Pygments
pymixbox==2.0.0
pyphen>=0.13.2
pypinyin
pytest-asyncio
requests
typing_extensions>=4.10.0
watchdog
yapf
